<div class="row">
  <div class="col">
    <input
      #termino
      type="text"
      (keyup)="buscar(termino.value)"
      class="form-control"
      placeholder="Buscar Artista"
    />
  </div>
</div>
<ng-container *ngIf="loading; else elseTemplate">
  <app-loading></app-loading>
</ng-container>
<ng-template #elseTemplate>
  <app-tarjetas [items]="artists"></app-tarjetas>
</ng-template>


<!-- <div class="row">
  <div class="card-columns">
    <div *ngFor="let item of artists" class="card">
      <p>[src]="item.images[1].url"</p>
      <img
        class="card-img-top"
        [src]="item.images | noimage"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p>
          <span
            *ngFor="let genre of item.genres"
            class="badge badge-secondary"
            >{{ genre }}</span
          >
        </p>
        <p class="card-text">
          <a href="{{ item.external_urls.spotify }}" target="_blank">
            Ir a {{ item.album_type }} {{ item.name }}
          </a>
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div> -->
