<ng-container *ngIf="loading; else elseTemplate">
  <app-loading></app-loading>
</ng-container>
<ng-template #elseTemplate>
  <div class="row m-5">
    <div class="col-2">
      <img [src]="artista.images | noimage" class="img-fluid rounded-circle" alt="">
      <span *ngFor="let genre of artista.genres" class="badge badge-light">{{ genre }}</span>
    </div>

    <div class="col">
      <h3>{{ artista.name }}</h3>
      <span *ngFor="let genre of artista.genres" class="badge badge-light">{{ genre }}</span>
      <p class="mt-1">
        <a [href]="artista.external_urls.spotify" target="_blank">
          Ir a la página del artista
        </a>
      </p>
    </div>
    <div class="col-4 text-right">
      <a [routerLink]="[ '/search' ]" class="btn btn-outline-danger" role="button">Regresar</a>
    </div>
  </div>

  <div class="row m-5">
    <div class="col-12">
      <table class="table-dark col-11 ">
        <thead>
          <tr>
            <th scope="col">Foto</th>
            <th scope="col">Album</th>
            <th scope="col">Canción</th>
            <th scope="col">Vista Previa</th>
          </tr>
        </thead>
        <tbody *ngFor="let track of topTracks">
          <tr>
            <td><img [src]="track.album.images | noimage" class="img-song" alt=""></td>
            <td>{{track.album.name}}</td>
            <td>{{track.name}}</td>
            <td scope="row"><iframe [src]="track.uri | domSanitizerSpotify" width="300" height="80" frameborder="0"
                allowtransparency="true" allow="encrypted-media"></iframe></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
